body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1em;
}

h1, h3 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

.select-text {
  display: flex;
  justify-content: space-between;
  padding: 6px 12px;
}

.container {
  border-radius: 6px;
  border: 1px solid #999;
  margin: 10px;
}

.options-list {
  /* position: absolute; */
  background: white;
  max-height: 30vh;
  overflow-y: scroll;
}

.search-div {
  padding: 6px;
  display: flex;
  justify-content: center;
  border-top: 1px solid #999;
}

input.search {
  width: 100%;
  padding: 6px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1em;
  border-radius: 6px;
  border: 1px solid #999;
}

#select2 input.search:focus {
  outline: none;
  border: 0;
  box-shadow: 0 0 3px 3px rgba(32, 178, 170, 0.5);
}

.disabled {
  padding: 10px 12px 6px 12px;
  font-weight: bold;
}

.option {
  padding: 6px 24px;
}

.option:hover {
  background: lightseagreen;
  color: white;
}

.selected {
  color: black;
  background: lightgray;
}

.multiselect2-container {
  margin: 0;
  padding: 0;
}

.multiselect2-search {
  border-top: 0;
}

#multiselect2, #multiselect2.search:focus {
  border: 0;
  outline: none;
}

span.selected-option {
  background: lightseagreen;
  border-radius: 6px;
  border: 1px solid seagreen;
  color: white;
  display: flex;
  align-items: center;
  padding: 5px 8px;
  margin: 0 3px;
}

span.remove {
  margin-right: 5px;
}

span.remove:hover {
  cursor: pointer;
}